[*.cs]
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE0300.severity = none
dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.IDE0305.severity = none
dotnet_diagnostic.IDE0017.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.IDE0251.severity = none
dotnet_diagnostic.IDE0290.severity = none